:root {
  --main-color1: #4794B3;
  --main-color2: #99E2FF;
  --main-color3: #80DBFF;
  --main-color4: #B37736;
  --main-color5: #FFC380;
  --main-color6: #FF99AD;
  --main-bg-color: white;
  --main-txt-color: black;
  --main-padding: 15px; 
}

html, body, .block {
  height: 100%;
  background-color: var(--main-bg-color);
  font-family: 'Aleo', serif;
}

nav ul li a:hover, nav ul li a.active {
  background-color: rgba(0, 0, 0, .1);
}

.pink-nav {
  background-color: var(--main-bg-color);
}

.blue-nav {
    background-color: var(--main-color1);
}

.container {
  padding-top: 250px;
}

.h1-top {
  color: var(--main-bg-color);
  font-size: 60px;
}
.h1-bottom {
  color: var(--main-color1);
  font-size: 50px;
}

p {
  font-size: 24px;
  color: #4794B3;
}

.btn-large {
  background-color: var(--main-bg-color) !important;
  color: var(--main-txt-color);
  height: 54px;
  width: 250px;
}

.click-animations button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  font-size: 30px;
  border: none;
  outline: none;
  background: #30cc8b;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

#big-logo-top {
  padding-left: 20px;
  font-size: 36px;
  color: var(--main-bg-color)
}
#big-logo-bottom {
  padding-left: 20px;
  font-size: 36px;
  color: var(--main-color1)
}

#small-logo-top {
  font-size: 24px;
  margin-left: -225px;
  margin-top: 20px;
  color: var(--main-bg-color)
}
#small-logo-bottom {
  font-size: 24px;
  margin-left: -225px;
  margin-top: 20px;
  color: var(--main-color1)
}

#pink-page {
  background-color: var(--main-bg-color)
}

#blue-page {
  background-color: var(--main-color1);
}

footer {
  padding-left: 0;
}