body {
    background-color: #546e7a;
    font-family: 'Aleo', serif;
}

h1 {
    color: #263238;
    font-size: 40px;
}

.btn-large {
    background-color: #263238 !important;
    height: 54px;
    width: 250px;
}